<article>
  <h1>Validations</h1>
  <form class="form-filter grid">
    <input class="g-m-6" type="text" name="filter" [(ngModel)]="filter" placeholder="Filter Validations">
  </form>
  <div>
    <div *ngFor="let item of validations | filter: filter; let i = index" [attr.data-index]="i">
      <section>
        <a (click)="isOpen[i] = !isOpen[i]"><strong>{{item["UI"]}}</strong>: {{item["Validation Description"]}}</a>
      </section>
      <aside>
        <div *ngIf="isOpen[i]">
          <ul>
            <li><strong>Status:</strong> {{item["Status"]}}</li>
            <li><strong>Section:</strong> {{item["Section"]}}</li>
            <li><strong>Sub-Section:</strong> {{item["Sub-Section"]}}</li>
            <li><strong>FY19 Field:</strong> {{item["FY19 Field"]}}</li>
            <li><strong>Loc in Data Dictionary:</strong> {{item["Loc in Data Dictionary"]}}</li>
            <li><strong>Validation Type:</strong> {{item["Validation Type"]}}</li>
            <li><strong>Comments:</strong> {{item["Comments"]}}</li>
            <li><strong>Analyst Recommendation:</strong> {{item["Analyst Recommendation"]}}</li>
            <li><strong>Approval/Comment:</strong> {{item["Approval/Comment"]}}</li>
            <li><strong>Dev/QA:</strong> {{item["Dev/QA"]}}</li>
            <li><strong>Status:</strong> {{item["Status"]}}</li>
            <li><strong>Dev Comments:</strong> {{item["Dev Comments"]}}</li>
            <li><strong>QA Comments:</strong> {{item["QA Comments"]}}</li>
            <li><strong>BA Comments:</strong> {{item["BA Comments"]}}</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</article>

